name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types: [ opened, edited, synchronize, reopened ]
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          registry-url: https://registry.npmjs.org/

      - name: Install
        run: npm i

      - name: Unit Test
        env:
          XC_API_KEY: ${{ secrets.XC_API_KEY }}
        run: npm run test